body{
    text-align: center;
    background-color: black;
}
h2{
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-shadow:10px 2px yellowgreen;
}
.drum, .key{
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
}